body {
	margin: auto;
	max-width: 50em;
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: BurlyWood;
}

nav li {
	display: inline-block;
	padding: .7em 1em .5em;
	background: #b27b6b;
	border-radius: .5em;
	margin: .3em;
}

.header {
	background: #de804e;
	font-weight: bold;
	padding: 2em 1em;
	font-size: 2em;
	border-radius: .5em;
	color: #450015;
}

.content {
	color: #450015;
	background: #ffe5df;
	padding: 1.5em 2em;
	border: .2em solid #ffe4c4;
	border-radius: .5em;
	
}

.highlight {
	color: red;
	font-weight: bold;
}


nav ul {
	padding: 0;
	margin: .5em;
	text-align: center;
}

nav li a {
	text-decoration: none;
	color: #450015;
}

nav li:hover {
	background-color: #b26b6b;
	transition: background-color 0.5s ease;
	padding: .75em 1.05em .55em;
	transition: padding 0.3s ease;
}

a {
	text-decoration: none;
	color: #450015;
	font-weight: bold;
}

a:hover {
	color: #282017;
	text-decoration: underline;
	transition: color 0.3s ease;
}

button {
	background-color: #b27b6b;
	font-weight: bold;
	color: #240017;
	border: none;
	padding: .3em 2em .3em;
	border-radius: .5em;
	cursor: pointer;

}

button:hover {
	background-color: #b26b6b;
	text-decoration: underline;
	border: .1em solid black;
	transition: background-color 0.5s ease;
}

input[type="text"] {
	color: #350015;
	background-color: #ffe5ff;
	border: .1em solid #450015;
	border-radius: 0.6em
}

input[type="password"] {
	color: #350015;
	background-color: #ffe5ff;
	border: .1em solid #450015;
	border-radius: 0.6em;
}

input[type="text"]:focus {
	outline: none;
}

input[type="password"]:focus {
	outline: none;
}

input[type="checkbox"] {
	cursor: pointer;
}

input[type="checkbox"]:checked {
	accent-color: sandybrown;
}

input[type="submit"] {
	cursor: pointer;
	border: .1em solid #282017;
	border-radius: .3em;
}
