{% extends "teacher_layout.html" %}
{% block content %}
<a href="/editcourse/{{url_course_name}}">Palaa edelliselle sivulle</a>
<p>
{% if error_message %}
<p class="highlight">{{error_message}}</p>
{% endif %}
<form action="/coursematerial/{{url_course_name}}" method="POST">
Voit lisätä opetusmateriaalia kurssillesi {{course_name}}:
<p>
<textarea name="course_material" rows="20" cols="60"></textarea>
<br>
Huom. Kurssimateriaali ei saa kerralla lähetettynä ylittää 5000 merkkiä!
<br>
<input type="submit" value="Lisää materiaalia">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<p>
Lisätty materiaali:
{% for material in course_material %}
<form action="/deletematerial/{{material[0]}}" method="POST">
<p>
{{material[1]}} <input type="submit" value="Poista">
{% endfor %}
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
{% endblock %}
