{% extends "teacher_layout.html" %}
{% block content %}
<a href="/editcourse/{{url_course_name}}">Palaa edelliselle sivulle</a>
<p>
<form action="/coursematerial/{{url_course_name}}" method = "post">
Voit lisätä opetusmateriaalia kurssillesi {{course_name}}:
<p>
<textarea name="course_material" rows="20" cols="60"></textarea>
<br>
<input type="submit" value="Lisää materiaalia">
</form>
<p>
Lisätty materiaali:
{% for material in course_material %}
<p>
{{material[1]}} <a href="/deletematerial/{{material[0]}}">Poista</a>
{% endfor %}
{% endblock %}
