{% extends "teacher_layout.html" %}
{% block content %}
<form action="/editcourse/{{url_course_name}}" method="POST">
Täällä voit lisätä kurssillasi {{course_name}} opetettavia merkkejä ja sanoja.
Voit lisätä kurssillesi kerralla sekä uuden merkin että uuden sanan, mutta jos et syötä merkille translitteraatiota tai sanalle käännöstä, ei merkkiä tai sanaa lisätä!
<p>
Voit lisätä kurssille opetusmateriaalia <a href="/coursematerial/{{url_course_name}}">täältä</a>
<hr>
<p>
{% if error_message %}
<p class="highlight">{{error_message}}</p>
{% endif %}
<input type="text" name="character"> Syötä merkki
<p>
<input type="text" name="character_transliteration"> Syötä merkin translitteraatio
<p>
<input type="text" name="word"> syötä sana
<p>
<input type="text" name="word_translation"> syötä sanan käännös
<p>
<input type="submit" value="Lisää">
<br>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<p>
<p>
Lisätyt merkit:
<br>
{% for character in course_characters %}
<form action="/deletecharacter/{{character[2]}}" method="POST">
{{character[0]}} | {{character[1]}} <button type="submit" class="delete">&times;</button>
<br>
{% endfor %}
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<p>
Lisätyt sanat:
<br>
{% for word in course_words %}
<form action="/deleteword/{{word[2]}}" method="POST">
{{word[0]}}  |  {{word[1]}} <button type="submit" class="delete">&times;</button>
<br>
{% endfor %}
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<hr>
<form action="/deletecourse/{{url_course_name}}" method="POST">
<input type="submit" value="Poista kurssi">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
{% endblock %}
