{% extends "user_layout.html" %}

{% block content %}
Syötä kenttiin sanojen käännökset
<hr>
<form action = "/answers/{{url_course_name}}" method="POST">
{% for word in words %}
<input type="hidden" name="exercise" value="2">
<input type="hidden" name="question" value="{{word[0]}}">
<input type="hidden" name="correct_answer" value="{{word[1]}}">
{{word[0]}}
<br>
<input type="text" name="answer">
<p>
{% endfor %}
<input type="submit" value="Lähetä vastaukset">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<p>
<a href="/exercises/{{url_course_name}}">Palaa kurssisivulle</a>
{% endblock %}
