{% extends "user_layout.html" %}

{% block content %}
Syötä kenttiin merkkien translitteraatiot
<hr>
<form action="/answers/{{url_course_name}}" method="post">
{% for character in characters %}
<input type="hidden" name="exercise" value = "1">
<input type="hidden" name="question" value="{{character[0]}}">
<input type="hidden" name="correct_answer" value="{{character[1]}}">
{{character[0]}}
<br>
<input type="text" name="answer">
<p>
{% endfor %}
<input type="submit" value="Lähetä vastaukset">
</form>
<p>
<a href="/exercises/{{url_course_name}}">Palaa kurssisivulle</a>
{% endblock %}

