<form action = "/register" method = "post">
Käyttäjätunnus:
<p>
<input type = "text" name = "username"> (Käyttäjätunnuksessa saa olla vain kirjaimia ja numeroita!)
<p>
Salasana:
<p>
<input type = "password" name = "password">
<p>
Syötä salasana uudestaan:
<p>
<input type = "password" name = "password_again">
<p>
<input type = "checkbox" name = "teacher" value = "yes"> Valitse ruutu jos olet opettaja (Vain opettajat voivat luoda kursseja)
<p>
<input type = "submit" value = "Luo käyttäjä">
</form>
