<!DOCTYPE html>
<head>
	<link rel="stylesheet" type ="text/css" href="{{url_for('static', filename='main.css')}}">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
	<div class="header">
		<h1> Kielten opetussovellus</h1>
	</div>
	<nav>
	  </ul>
	  <li><a href="/">Etusivu</a></li>
	  <li><a href="/courses">Kurssit</a></li>
	  <li><a href="/userstatistics">Tilastot</a></li>
	</ul>
      </nav>

      <div class="content">
	 {% block content %}
	 {% endblock %}
      </div>
</body>


